@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url(Style_Reset.css);

#wrap{
    padding: 20px;
    margin: 0px auto;
    width: 1920px;
    text-align: center;
}

#modpass{
	position: relative;
	left: 750px;
	height: 50px;
}

.modBtn{
	margin-top: 10px;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	cursor: pointer;
	background-color: white;
	font-size: 15px;
	border-radius: 10px;
	}
