@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url(Style_Reset.css);
 
div#wrap{
	margin: 5px auto;
	padding: 5px;
}
div#OrderListPage{
	margin: 0px auto;
	/* border: 1px solid #000; */
	width: 300px;
	font-size:25px;
	display: flex; 
	justify-content: space-around;
}
span.mBtn {
	cursor: pointer; 
}
hr#crossLine {
	width: 90%;
	margin:20px auto;
}
div#OrderShowWrap{
	/* border: 1px solid #000; */
	display: flex;
	justify-content: space-around;
}
div#searchArea{
/* 	border : 1px solid #f00; */
	margin-left:30px;
	margin-bottom:20px;
	width:400px;
	height: 30px;
	line-height:30px;
	display: flex;
	justify-content: space-around;
}
select#keyField{
	height: 25px;
	font-weight: bold;
}
input#keyWord {
	width:200px;
	height:25px;
	margin-left: 15px;
}
p#searchBtn {
	border: 2px solid #000;
	border-radius:8px;
	margin-left: 15px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
div#OrderShowContent {
	/* border: 1px solid #f00; */
	text-align: center;
}
table#OrderShowTable {
	/* border: 1px solid #0f0; */
	margin:5px auto;
	text-align: center;
}
table#OrderShowTable th{
	border: 2px solid #d3d3d3;
	padding: 1px 8px;
}
table#OrderShowTable th:nth-child(11){
	font-size: 12px;
}
table#OrderShowTable td {
	border: 2px solid #d3d3d3;
}
table#OrderShowTable td:nth-child(2) {
	width: 80px;
	font-size: 12px;
}
table#OrderShowTable td:nth-child(3) {
	width: 150px;
	font-size: 12px;
}
table#OrderShowTable td:nth-child(4) {
	width: 150px;
}
table#OrderShowTable td:nth-child(5) {
	width: 85px;
}
table#OrderShowTable td:nth-child(6) {
	width: 120px;
}
table#OrderShowTable td:nth-child(7) {
	width: 120px;
}
table#OrderShowTable td:nth-child(8) {
	font-size:14px;
	width: 200px;
}
table#OrderShowTable td:nth-child(9) {
	font-size:12px;
	width: 100px;
}
table#OrderShowTable td:nth-child(10) {
	font-size:10px;
	width: 140px;
}
table#OrderShowTable td:nth-child(11) {
	font-size:12px;
	font-weight:bolder;
	width: 80px;
}
table#OrderShowTable td:nth-child(12) {
	font-size:10px;
	width: 50px;
}
table#OrderShowTable td:nth-child(12) input[type=checkbox] {
	width: 20px;
	height: 20px;
}
div#OrderOption {
	/* border: 1px solid #000; */
	padding: 10px;
	text-align: center;
}
div#changeState {
	/* border: 1px solid #000; */
	text-align: center;
}
div#changeState p{
	margin: 0px auto;
	margin-top: 10px;
}
p#Depa{
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 13.5px;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}
p#Depa:hover{
	background-color: #00FF80;
}
p#Comp{
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}
p#Comp:hover{
	background-color: #4AA8D8;
}
p#Canc{
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}
p#Canc:hover{
	background-color: #FFD400;
}
p#Unkn{
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
}
p#Unkn:hover{
	background-color: #DC143C;
}