@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url(Style_Reset.css);

#wrap{
    padding: 20px;
    margin: 5px auto;
    width: 1500px;
    border: 1px solid #000;
}
/* 
li{
    list-style: none;
} */
#header{
    position: sticky;
    top: 5px;
    margin-bottom: 50px;
}
#logo{
    flex: 1;
}

#nav1{
    padding-left: 50px;
    flex: 1;
    justify-content: space-around;
    margin-top: 150px;
}
.goods1{
    display: none;
    /* display: inline; */
    line-height: 30px;
}

.board {
    display: none;
    line-height: 25px;
}

#nav2{
    padding-left: 10px;
    margin-left: 500px;
    flex: 1;
    justify-content: space-around;
    margin-top: 150px;
}
.search2{
    display: none;
    margin-left: -500px;
    width: 500px;
}
.search2 input{
    border:none;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-top: 30px;
    font-size: 30px;
    outline: none;
}

#searcha{
    margin-top: 10px;
    font-size: 15px;
}
#searcha:hover{
    
    background-color: #aaa;
    color: white;
}

#main{
height: 100%;
}

#info{
    justify-content: space-around;
    line-height: 25px;
}
#info2{
    margin-top: 30px;
    font-size: 13px;
}

#read{	
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border-spacing: 2px;
}

.rContent{
	width: 400px;
	font-size: 15px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

#txtArea{
	width: 800px;
	height: 200px;
	resize: none;
	border: none;
	text-align: left;
	outline: none;
	line-height: 20px;
	padding-top: 10px;
	padding-left: 20px;
}

#readContent{
	border: 1.5px solid #000;
}

.reviewBtn{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	width: 150px;
	height: 70px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: white;
	position: relative;
	left: 330px;
	cursor: pointer;
}