@charset "UTF-8";
* {font-family: "Helvetica Neue","Helvetica","Arial",'Spoqa Han Sans','Malgun Gothic','Apple SD Gothic Neo','돋움',dotum,sans-serif;
		box-sizing: border-box;
	}
div#wrap{
	margin: 5 auto;
	padding: 5px;
}
nav {
  border: 1px solid #000;
}
li {
  display: inline;
}
table{
	margin: 0 auto;
	
	width: 100%;
	width: 500px;
}
caption{ /*회원가입 시작  */
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-align: center;
	padding: 20px;
}
td{
	padding: 10px 0px;
}
td>label{

font-size: 12px;
line-height: 22px;
color: #999999;
}
td label input:hover{
	cursor: pointer;
	background-color: #000
}
td>button{
	margin: 10px;
	font-size: 13px;
	color: #999999;
}
td>p{
	margin: 10px;
	font-size: 13px;
	color: #999999;
}
tr.infor{
	display:flex;
	justify-content:space-between;
	font-size: 13px;
	line-height: 16px;
	font-family: sans-serif;
}
input{
	border: 1px solid #000;
	
		font-size: 12px;
		height: 40px;
		font-family: sans-serif;
}
input.full{
	width: 100%;
	}
	input::-webkit-input-placeholder { color: #000; }
	
td.uZip{
	display:flex;
	justify-content:space-between;
}
#foreignerCheck{
	border-radius: 2em;
	border: 1px solid #000;
	background-color: #fff;
	width: 100px;
	height: 40px;
	font-size: 14px;
	color: #000;
	position:relative;
	right: 10px;	
	cursor: pointer;
}
#foreignerBox{
	position: relative;
	top:15px;
}
 td.uZip>button{ /* 주소 버튼! */
 color: #000; 
 font-size: 12px;
		height: 40px;
		font-family: sans-serif;
		position: relative;
		top:-10px;
		left:3px;
		width: 38%;
		background-color: #fff;
		border-radius: 15px;
		border: 1px solid #000;
		}
		/*동의 양식표*/
ul>li{list-style: none}
.clearfix::after{content: "";display: block;clear: both;}
#joinForm{width: 500px;margin: 0 auto; border: 1px solid #000;}


.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{padding: 10px;}
.checkBox>ul>li:nth-child(2){display: flex;
	justify-content:space-between; }
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;}
.lis{
display: inline
}
/*마이페이지 css 시작*/
#ifLogin{
	border: 1px solid #000; cursor: pointer; text-align:center; height: 130px;
}
.Mytr{
	display: flex;justify-content:space-between; margin-top: 20px; height: 70px; text-align:center;
}
.Mytd{
	border: 1px solid #000; width:49%; font-size:11px;
	background-repeat: no-repeat;
}
#orderCus{
	background-image: url('../Account/img/delivery.png');
	background-position: 50% 60%;
}
#inforCus{
	background-image: url('../Account/img/info.png');
	background-position: 50% 60%;
}
#wishCus{
	background-image: url('../Account/img/wish.png');
	background-position: 50% 60%;
}
#moneyCus{
	background-image: url('../Account/img/dollor.png');
	background-position: 50% 60%;
}
#couponCus{
	background-image: url('../Account/img/coupon.png');
	background-position: 50% 60%;
}
#myCus{
	background-image: url('../Account/img/my.png');
	background-position: 50% 60%;
}
#addrCus{
	background-image: url('../Account/img/addr.png');
	background-position: 50% 60%;
}
#deliCus{
	background-image: url('../Account/img/AlwaysDelivery.png');
	background-position: 50% 60%;
}
/*마이페이지 css 끝 */

/*로그인페이지 시작*/
#Td_Id_save{
	display:block;
	margin-top: -20px;
	padding-top: -30px;
}
#Input_Id_save{
	width: 20px;
	position: relative;
	top:15px;
}
#LoginOrAccount{
	margin-top: -15px;
}
#infor2{
	margin-top: -35px;
	display:flex;
	justify-content:space-between;
	font-size: 13px;
	line-height: 12px;
	font-family: sans-serif;
}
#Naver_Login{
	background-image: url('../Account/img/naver.png');
	background-repeat: no-repeat;
	background-position: 35%;
}
#Kakao_Login{
	background-image: url('../Account/img/kakao.png');
	background-repeat: no-repeat;
	background-position: 35%;
}
.Join_btn2{
	cursor: pointer;
display:block;
width: 240px;	
height: 26px;
border: 1px solid #000;
border-radius: 2em;

}
/*로그인페이지 끝*/
/*체크박스*/
tfoot{

 border-collapse: collapse;

 }
 
 #joinForm{
 width: 100%;
 display:block;
 border: 1px solid #000;
 }
#allChk{ 
	border-bottom: 1px solid #080;
	text-align: center;
	margin-top: 20px;
}
.chkBox{
	margin-top: 10px;
	display: flex;
}
.agreebox{ /* 체크박스들 */
	width:20px;
	cursor: pointer;
	border: 1px solid #000;
}
#checkbox_all{

	position: relative;
	top: -13px;
}
textarea{
	width: 450px;
	margin: 20px;
	height: 100px;
}
.agree{

	margin-left: 20px;
	margin-top: -30px;
	color: #000;
	font-size: 12px;
}
#checkbox_1{
	position: relative;
	bottom: -15px;
}
#checkbox_2{
	position: relative;
	bottom: -15px;
}
/* 체크박스들 끝 */
/* 회원가입시작 */
.Join_btn{
	cursor: pointer;
display:block;
width: 240px;	
height: 45px;
border: 1px solid #000;
border-radius: 2em;

}